// Typography
$site-font-family: "AkzidenzGroteskBQ", Helvetica, Arial, sans-serif;
$site-font-size: 18px;
$site-line-height: 1.2;

$large-margin: 80px;
$medium-margin: 40px;
$small-margin: 10px;


// Colors
$graydark: #333;
$graylight: #eee;
$gray: #aaa;

// Theme colors
$default-color: #1a1a1a;
$primary-color: blue;
$secondary-color: organge;

$color-0: #fff;
$color-01: #88bbe3;

$text-color-01: #666;
