<div class="filter-title">Rising sea meters:</div>

<ul class="filters">
  <li><label><input type="radio" name="meters" value="1m" checked>1m</label></li>
  <li><label><input type="radio" name="meters" value="2m" checked>2m</label></li>
  <li><label><input type="radio" name="meters" value="3m" checked>3m</label></li>
  <li><label><input type="radio" name="meters" value="4m" checked>4m</label></li>
  <li><label><input type="radio" name="meters" value="5m" checked>5m</label></li>
</ul>
